<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EntidadesTelevisores.Properties.Settings.Conexion"
            connectionString="Data Source=LAB5PC22\SQLEXPRESS;Initial Catalog=Productos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>